.form__details {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.form_details__title {
    margin-left: 6%;
    margin-bottom: 5%;
}

.form__details__smallInput {
    width: 100%;
    height: 2.5rem;
    padding-left: 1vh;
    border: 0.05rem solid #6b6a6a;
    border-radius: 1vh;
    background-color: #101010;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(42%) sepia(2%) saturate(8%) hue-rotate(319deg) brightness(96%) contrast(93%);
    margin-right: 5%;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    filter: invert(75%) sepia(10%) saturate(3436%) hue-rotate(358deg) brightness(92%) contrast(87%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(42%) sepia(2%) saturate(8%) hue-rotate(319deg) brightness(96%) contrast(93%);
    margin-right: 5%;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    filter: invert(75%) sepia(10%) saturate(3436%) hue-rotate(358deg) brightness(92%) contrast(87%);
}
